.container {
  height: 100vh;
  width: 100%;
  padding: 9.375rem 0;
  background-color: var(--morelighter-red-color);
}

.wrapper {
  width: 31.25rem;
  height: 18.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--morelight-yellow-color);
  overflow: hidden;
  -webkit-box-shadow: 0 8px 8px rgb(0, 0, 0, 0.3);
  box-shadow: 0 8px 8px rgb(0, 0, 0, 0.3);
}

.col {
  width: 15.625rem;
  height: auto;
}

.wrapper .col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.625rem;
}

.title {
  text-align: center;
  font-size: 1.5625rem;
  margin-top: 1.5rem;
  margin-bottom: 9px;
  font-weight: 700;
  color: var(--light-red-color);
}

/* Form area */
.signupForm {
  text-align: center;
}

.signupForm input {
  text-align: start;
  margin: 0.5rem 0;
  width: 11.25rem;
  border-bottom: 1px solid var(--light-red-color);
  padding: 5px 25px 5px 3px;
  font-size: 0.8125rem;
  color: var(--dark-gray-color);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.signupForm input::-webkit-input-placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.signupForm input::-moz-placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.signupForm input:-ms-input-placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.signupForm input::-ms-input-placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.signupForm input::placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.signupForm input:focus {
  border-bottom: 1px solid var(--dark-yellow-color);
}

.passwordWrap {
  position: relative;
}

.toggleIcon {
  position: absolute;
  right: 2px;
  bottom: 2px;
  color: var(--medium-gray-color);
  cursor: pointer;
}

.toggleIcon:hover {
  color: var(--dark-gray-color);
}

.errorMsg {
  text-align: start;
  font-size: 0.6rem;
  margin-left: 22px;
  margin-top: -6px;
  color: var(--red-color);
}

.wrongCredentials{
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  top: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.alertMsg{
  width: 190px;
  height: 100%;
  padding: 4px 0;
  background: var(--white-color);
  color: var(--red-color);
  border-radius: 3px;
  font-size: 10px;
}
/* Form area end */

.signupForm p {
  margin: 15px 0;
  font-size: 0.6875rem;
  color: var(--dark-gray-color);
}

.signupForm p span {
  text-decoration: underline;
  cursor: pointer;
}

.signupForm p span:hover {
  color: var(--dark-yellow-color);
}

.signupBtn {
  background-color: var(--light-red-color);
  border-radius: 8px;
  padding: 5px 10px;
  color: var(--white-color);
  margin-top: 5px;
  cursor: pointer;
  font-size: 12px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.signupBtn:hover {
  background-color: var(--white-color);
  color: var(--light-red-color);
  border: 1px solid var(--light-red-color);
}






/* Responsiveness css */
/* laptop screen */
@media all and (max-width: 1025px) {
  .container {
    height: 70vh;
    padding: 9.375rem 0;
  }
}

/* tablet screen */
@media all and (max-width: 769px) {
  .container {
    height: 80vh;
    padding: 8.125rem 0;
  }
  .wrapper {
    width: 26.25rem;
    height: 17.1875rem;
  }

  .title {
    margin-top: 1.1rem;
  }

  .signupForm input {
    margin: 0.4rem 0;
    width: 9.6875rem;
  }

  .signupForm p {
    margin: 10px 0;
    font-size: 0.625rem;
  }
}

/* mobile screen */
@media all and (max-width: 376px) {
  .container {
    height: 90vh;
    padding: 9.375rem 0;
  }

  .wrapper {
    width: 16.5625rem;
    height: 390px;
    margin: 0 auto;
    display: block;
  }
  
  .wrongCredentials{
    top: 100px;
  }

  .title {
    margin-bottom: 3px;
    padding-top: 3px;
  }

  .col {
    width: 100%;
    height: 5rem;
  }

  .signupForm {
    text-align: center;
  }

  .signupForm input {
    width: 12.1875rem;
    margin: 0.6rem 0;
  }

  .wrapper .col img {
    height: 7.5rem;
    margin-top: 180px;
  }
}
