.container {
  height: 100%;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 13rem;
}

.wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-transform: capitalize;
  color: var(--morelighter-red-color);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.noQuantity {
  color: var(--morelighter-red-color);
  font-weight: 300;
  font-size: 1.4rem;
}

.foodInner {
  display: flex;
  margin-bottom: 30px;
}

.ImgContainer {
  width: 11rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 25px;
}

.ImgContainer > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in-out;
}

.ImgContainer > img:hover {
  scale: 1.1;
}

.foodDetails {
  width: 25rem;
  height: 10rem;
  margin: 0px;
}

.foodTitle {
  font-size: 0.975rem;
  font-weight: 600;
  color: var(--morelighter-red-color);
  margin-bottom: 3px;
}

.foodDescription,
.foodCategory,
.foodQuantity {
  font-size: 11.5px;
  margin-bottom: 5px;
}

.foodDetails span {
  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--moredark-gray-color);
}

.foodQuantity{
  display: flex;
  align-items: center;
}

.quentityBtn{
  height: 10px;
  width: 10px;
  margin: 0 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.foodQuantity .quantityNum{
  font-size: 10px;
  margin: 0 3px;
  font-weight: 400;
  color: var(--morelighter-red-color);
}

.foodPrice {
  margin-bottom: 8px;
  font-size: 0.6563rem;
  font-weight: 900;
  color: var(--dark-gray-color);
}

.cartBtn {
  color: var(--morelighter-red-color);
  font-size: 0.625rem;
  font-weight: 600;
  padding: 3px 4px;
  width: 4rem;
  background-color: var(--light-yellow-color);
  border-radius: 8px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartBtn .cartIcon{
  color: var(--moredark-gray-color);
  height: 14px;
  width: 14px;
  padding-left: 3px;
}

.cartBtn:hover {
  border-color: var(--yellow-color);
  color: var(--morelighter-red-color);
  background-color: var(--white-color);
}



/* Responsiveness */
/* phone screen */
@media all and (max-width: 376px) {
  .wrapper {
    width: 96%;
  }

  .title,
  .noQuantity {
    font-size: 1.5rem;
  }

  .ImgContainer {
    width: 5.8rem;
    height: 8.8rem;
    margin-bottom: 1.5px;
    margin-right: 8px;
  }

  .foodDetails {
    width: 10rem;
    height: 6rem;
    margin: 0 1px;
  }

  .foodDescription,
  .foodCategory,
  .foodQuantity {
    font-size: 8.5px;
    font-weight: 500;
    margin-bottom: 2.1px;
  }

  .foodDetails span {
    font-size: 10px;
  }

  .foodTitle {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }

  .foodPrice {
    font-size: 0.625rem;
  }

  .cartBtn {
    font-size: 0.5rem;
    padding: 2px 0px;
  }
}