.container {
  height: 100vh;
  padding: 9.375rem 0;
  width: 100%;
  background-color: var(--morelighter-red-color);
}

.wrapper {
  width: 31.25rem;
  height: 18.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--white-color);
  overflow: hidden;
  -webkit-box-shadow: 0 8px 8px rgb(0, 0, 0, 0.3);
  box-shadow: 0 8px 8px rgb(0, 0, 0, 0.3);
}
.col {
  width: 15.625rem;
  height: auto;
}
.wrapper .col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.625rem;
}

.title {
  text-align: center;
  font-size: 1.5625rem;
  margin: 1.875rem 0;
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: var(--light-red-color);
}

/* Form area */
.loginForm {
  text-align: center;
}

.loginForm input {
  text-align: start;
  margin: 0.625rem 0;
  width: 11.25rem;
  border-bottom: 1px solid var(--light-red-color);
  padding: 5px 25px 5px 3px;
  font-size: 0.8125rem;
  color: var(--dark-gray-color);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.loginForm input::-webkit-input-placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.loginForm input::-moz-placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.loginForm input:-ms-input-placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.loginForm input::-ms-input-placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.loginForm input::placeholder {
  color: var(--medium-gray-color);
  font-size: 0.6875rem;
}

.loginForm input:focus {
  border-bottom: 1px solid var(--dark-yellow-color);
}

.passwordWrap {
  position: relative;
}

.toggleIcon {
  position: absolute;
  right: 2px;
  bottom: 2px;
  color: var(--medium-gray-color);
  cursor: pointer;
}

.toggleIcon:hover {
  color: var(--dark-gray-color);
}

.errorMsg{
  text-align: start;
  font-size: .6rem;
  margin-left: 22px;
  margin-top: -6px;
  color: var(--red-color);
}

.wrongCredentials{
  position: absolute;
  top: 15%;
  left: 45%;
  width: 100px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  background: var(--white-color);
  color: var(--red-color);
  border-radius: 3px;
  font-size: 10px;
}
/* Form area end */

.loginForm > p {
  margin: 15px 0;
  font-size: 0.6875rem;
  color: var(--dark-gray-color);
}

.loginForm p span {
  text-decoration: underline;
  cursor: pointer;
}

.loginForm p span:hover {
  color: var(--dark-yellow-color);
}

.forgotPass{
  margin-bottom: 15px !important;
  margin-top: -6px !important;
  font-size: 0.5rem !important;
  text-decoration: underline;
  cursor: pointer;
  color: var(--dark-gray-color);
}

.forgotPass:hover {
  color: var(--dark-yellow-color);
}

.loginBtn {
  background-color: var(--light-red-color);
  border-radius: 8px;
  padding: 5px 10px;
  color: var(--white-color);
  margin-top: 5px;
  cursor: pointer;
  font-size: 12px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.loginBtn:hover {
  background-color: var(--white-color);
  color: var(--light-red-color);
  border: 1px solid var(--light-red-color);
}




/* Responsiveness css */
/* laptop screen */
@media all and (max-width: 1025px) {
  .container {
    height: 85vh;
    padding: 9.375rem 0;
  }
}

/* tablet screen */
@media all and (max-width: 769px) {
  .container {
    height: 80vh;
    padding: 8.125rem 0;
  }
  .wrapper {
    width: 26.25rem;
    height: 17.1875rem;
  }

  .title {
    margin-bottom: 6px;
  }

  .loginForm input {
    width: 9.6875rem;
  }

  .loginForm > p {
    margin: 13px 0;
    font-size: 0.6rem;
  }

  .wrongCredentials{
    top: 13%;
    left: 43%;
  }
}

/* mobile screen */
@media all and (max-width: 376px) {
  .container {
    height: 90vh;
    padding: 9.375rem 0;
  }
  .wrapper {
    width: 16.5625rem;
    height: 22.5rem;
    margin: 0 auto;
    display: block;
  }
  .title {
    margin-bottom: 10px;
    padding-top: 6px;
  }
  .col {
    width: 100%;
    height: 5rem;
  }
  .loginForm {
    text-align: center;
  }

  .loginForm input {
    width: 12.1875rem;
  }

  .wrongCredentials{
    top: 16%;
    left: 36%;
  }

  .wrapper .col img {
    height: 6.875rem;
  }
}
