@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&family=Roboto:ital,wght@0,700;0,900;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --nav-bg-color:#fef0db;
  --white-color: #fff;
  --red-color: #e41b1b;
  --light-yellow-color:#e8d873;
  --yellow-color:#e4cb2e;
  --light-gray-color: #d3c5c5;
  --medium-gray-color: #888;
  --dark-gray-color: #444;
}

/* Common CSS */
a {
  text-decoration: none;
}

button {
    all: unset;
}
